* {
  padding: 0;
  margin: 0;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
.My_Login {
  width: 100%;
  height: 100%;
  // background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1581333443597&di=371525e7c4acbed127ef14b4da031559&imgtype=0&src=http%3A%2F%2Fattach.bbs.miui.com%2Fforum%2F201604%2F27%2F134028g77flxpnxdsxpczi.png")
  //   no-repeat;
  // background-size: 100%;
  overflow: hidden;
}
.Login-main {
  width: 350px;
  height: 350px;
  border: 1px solid #ccc;
  margin: 150px auto;
  .ant-form {
    margin: 80px 50px;
  }
}

.login-form-button {
  width: 100%;
}
// .ant-form-horizontal {
//   margin: 50px;
// }
// .login-form {
//   margin: 50px;
// }
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 45px;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main {
  flex: 1;
  height: 100%;
}
.content {
  width: 100%;
  height: 100%;
}
.home_main_top {
  width: 80%;
  height: 45px;
  border: 1px solid #ccc;
  margin: 0 10%;
  display: flex;
  span {
    flex: 1;
    text-align: center;
    line-height: 45px;
  }
}
.ul li {
  width: 90%;
  height: 100px;
  border: 1px solid #ccc;
  margin: 10px 5%;
  display: flex;
  .li_left {
    flex: 3;
    border: 1px solid #ccc;
  }
  .li_right {
    flex: 7;
    display: flex;
    flex-direction: column;

    .li_top {
      flex: 1;
      // background: red;
      display: flex;
      span {
        flex: 1;
        text-align: center;
        line-height: 50px;
      }
    }
    .li_bottom {
      flex: 1;
      // background: pink;
      display: flex;
      span {
        flex: 1;
        text-align: center;
        line-height: 50px;
      }
    }
  }
}
.active {
  background: red;
  color: #fff;
}
.ticket {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.t_header {
  width: 100%;
  height: 45px;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t_main {
  flex: 1;
  height: 100%;
  overflow: auto;
  div {
    width: 90%;
    margin: 10px 5%;
    input {
      width: 80%;
    }
    select {
      width: 30%;
    }
  }
  button {
    width: 90%;
    height: 40px;
    margin: 10px 5%;
  }
}
.box {
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    color: red;
  }
}
