* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.My_Login {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Login-main {
  width: 350px;
  height: 350px;
  border: 1px solid #ccc;
  margin: 150px auto;
}

.Login-main .ant-form {
  margin: 80px 50px;
}

.login-form-button {
  width: 100%;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 45px;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.content {
  width: 100%;
  height: 100%;
}

.home_main_top {
  width: 80%;
  height: 45px;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 10%;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
}

.home_main_top span {
  flex: 1;
  text-align: center;
  line-height: 45px;
}

.ul li {
  width: 90%;
  height: 100px;
  border: 1px solid #ccc;
  margin: 10px 5%;
  display: flex;
}

.ul li .li_left {
  flex: 3;
  border: 1px solid #ccc;
}

.ul li .li_left img {
  width: 100%;
  height: 100%;
}

.ul li .li_right {
  flex: 7;
  display: flex;
  flex-direction: column;
}

.ul li .li_right .li_top {
  flex: 1;
  display: flex;
}

.ul li .li_right .li_top span {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul li .li_right .li_bottom {
  flex: 1;
  display: flex;
}

.ul li .li_right .li_bottom span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background: red;
  color: #fff;
}

.ticket {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.t_header {
  width: 100%;
  height: 45px;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.t_main {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.t_main div {
  width: 90%;
  margin: 10px 5%;
}

.t_main div input {
  width: 80%;
}

.t_main div select {
  width: 30%;
}

.t_main button {
  width: 90%;
  height: 40px;
  margin: 10px 5%;
}

.box {
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box span {
  color: red;
}

.xq {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.xq_header {
  width: 100%;
  height: 45px;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xq_main {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.xq_main_main {
  width: 100%;
  height: 100%;
}

.xq_main_main .title {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.xq_main_main .xq_top {
  flex: 1;
  display: flex;
}

.xq_main_main .xq_top div {
  flex: 1;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
}

.xq_main_main .xq_bottom {
  flex: 1;
  display: flex;
}

.xq_main_main .xq_bottom div {
  flex: 1;
  text-align: center;
  font-size: 16px;
  line-height: 60px;
}

.xq_main_main .options {
  width: 80%;
  height: 300px;
  margin: 0 10%;
  border: 1px solid #ccc;
}

.xq_main_main .options p {
  margin: 10px 50px;
}

.gray {
  width: 70%;
  height: 10px;
  background: #ccc;
  margin: 0 15%;
}

.gray .nei {
  height: 10px;
  background: red;
  display: inline-block;
  float: left;
}

.Echart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
